/LP2/lista 2 - Exercicios sala/6/nbproject/private/
/LP2/lista 2 - Exercicios sala/6/build/
/LP2/lista 2 - Exercicios sala/7/nbproject/private/
/LP2/lista 2 - Exercicios sala/7/build/
/LP2/lista 2 - Exercicios sala/8/nbproject/private/
/LP2/lista 2 - Exercicios sala/9/nbproject/private/
/LP2/lista 2 - Exercicios sala/9/build/
